<div class="container">
  <md-card>
    <!--<img src="./../../../assets/images/messiTheKing.jpg" class="md-card-image align-middle bg-blue" alt="image caption">-->
    <md-card-content class="align-middle bg-cloudy">
      <h2>{{weatherData?.name}}</h2>
      <label class="mat-primary" >King is here.</label>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
     <button md-button class="btn-primary">Like hime</button>
      <button md-button>Love hime</button>
    </md-card-actions>
  </md-card>

</div>
