


<!--<md-tab-group>
  <md-tab label="Today">
  </md-tab>
  <md-tab label="Westeros">
  </md-tab>
</md-tab-group>-->

<nav md-tab-nav-bar>
  <!--<a class="navbar" md-tab-link routerLink="/today" routerLinkActive="active">Today</a>
  <a class="navbar" md-tab-link routerLink="/westeros" routerLinkActive="active">Westeros</a>-->

  <a class="btn" md-tab-link routerLink="/today" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Today</a>
  <a class="btn" md-tab-link routerLink="/westeros" routerLinkActive #rlb="routerLinkActive" [active]="rlb.isActive" >Westeros</a>
  <a class="btn" md-tab-link routerLink="/blog" routerLinkActive #rlc="routerLinkActive" [active]="rlc.isActive" >Blog</a>
</nav>
<router-outlet></router-outlet>